.navbar { 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #8b1313 ;
    padding: 0 20px;

}

.navbar ul{
    display:flex;
list-style: none;
}

*.navbar ul li{
    margin-left: 10px
}
.navbar ul li a {
  text-decoration: none;  
  color:#17034e
}

.navbar ul li a:hover {
    background-color: aqua;
}